.btn{
    width: 161px;
    height: 46px;
    border: 2px solid $main-color;
    border-radius: 3px;
    background-color: transparent;
    color: $main-color;
    font-weight: 600;
    font-size: 16px;
    &-header{
        width: 116px;
        height: 36px;
        border: 2px solid #000000;
        color: #000;
        transition: .3s color, .3s border-color;
        &:hover{
            color: $main-color;
            border-color: $main-color;
        }
    }
}


@media (max-width: 992px){
    .btn-header{
        display: none;
    }
}

@media (max-width: 768px){
    .btn-header{
        display: block;
        margin-top: 40px;
        border: 2px solid $main-color;
        background-color: transparent;
        color: $main-color;
    }
}