.title{
    font-weight: bold;
    font-size: 36px;
    color: #000;
}

.subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 24.54px;
    max-width: 668px;
}




@media (max-width: 768px){
    .title{
        font-size: 30px;
    }
   
}
@media (max-width: 576px){
    .subtitle{
        max-width: 309px;
        font-size: 13px;
    }
}
