@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/icons';
@import 'libs/slick.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


body{
    font-family: 'Montserrat';
    padding-top: 97px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/habmurger';
@import 'blocks/title';
@import 'blocks/services';
@import 'blocks/offer';
@import 'blocks/coaches';


@media (max-width: 1300px){
    .container{
        max-width: 1140px;
    }
}

@media (max-width: 1200px){
    body{
        padding-top: 90px;
    }
    .container{
            max-width: 968px
    }
}
@media (max-width: 992px){
    body{
        padding-top: 80px;
    }
    .container{
        max-width: 720px
    }
}

@media (max-width: 768px){
    .container{
        max-width: 100%;
        padding-left: 16px;
    }
}

@media (max-width: 576px){
    .container{
        max-width: 100%;
    }
}